In [2]:
import pandas as pd
from pathlib import Path

In [3]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [4]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [14]:
#Local Government Area (LGA) Summary

In [6]:
# Total number of unique schools 
len(school_data_complete.school_name.unique())

15

In [7]:
# Total students
school_data_complete.student_name.shape[0]

39170

In [8]:
# Total budget 
school_data.budget.sum()

24649428

In [9]:
# Average maths score
round(school_data_complete.maths_score.mean(), 2)

70.34

In [10]:
# Average reading score
round(school_data_complete.reading_score.mean(), 2)

69.98

In [11]:
# % passing maths (the percentage of students who passed maths)
round((((school_data_complete.maths_score>=50).sum())/(school_data_complete.maths_score.shape[0]))*100,2)

86.08

In [12]:
#% passing reading (the percentage of students who passed reading)
round((((school_data_complete.reading_score>=50).sum())/(school_data_complete.reading_score.shape[0]))*100,2)

84.43

In [13]:
#% overall passing (the percentage of students who passed maths AND reading) 
round(((school_data_complete.query('maths_score>=50').query('reading_score>=50')).shape[0])/(school_data_complete.reading_score.shape[0])*100,2)

72.81

In [ ]:
#School Summary

In [15]:
per_school_summary = pd.DataFrame()
def func(d):
    global per_school_summary
    school_name = d.school_name.unique()[0]
    school_type = d.type.unique()[0]
    total_students = d.shape[0]
    total_student_budget = d.budget.unique()[0]
    per_student_budget = total_student_budget / total_students
    average_maths_score = round(d.maths_score.mean(), 2)
    average_reading_score = round(d.reading_score.mean(), 2)
    passing_maths = round(d.query("maths_score>=50").shape[0] / total_students * 100, 2)
    passing_reading = round(d.query("reading_score>=50").shape[0] / total_students * 100, 2)
    overall_passing = round(d.query("maths_score>=50 and reading_score>=50").shape[0]/ total_students* 100,2,)
    data = {
        'school_name':school_name,
        'school_type':school_type,
        'total_students':total_students,
        'total_student_budget':total_student_budget,
        'per_student_budget':per_student_budget,
        'average_maths_score':average_maths_score,
        'average_reading_score':average_reading_score,
        'passing_maths(%)':passing_maths,
        'passing_reading(%)':passing_reading,
        'overall_passing(%)':overall_passing,
    }
    per_school_summary = pd.concat([per_school_summary,pd.DataFrame([data])],ignore_index=True)


(
    school_data_complete
    .groupby("school_name").apply(func)
)
per_school_summary

,school_name,school_type,total_students,total_student_budget,per_student_budget,average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%)
0,Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08
1,Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79
2,Figueroa High School,Government,2949,1884411,639.0,68.70,69.08,81.65,82.81,67.65
3,Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47
4,Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34
5,Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36
6,Holden High School,Independent,427,248087,581.0,72.58,71.66,89.93,88.52,78.92
7,Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71
8,Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19
9,Pena High School,Independent,962,585858,609.0,72.09,71.61,91.68,86.59,79.21
10,Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42
11,Shelton High School,Independent,1761,1056600,600.0,72.03,70.26,91.54,86.71,78.88
12,Thomas High School,Independent,1635,1043130,638.0,69.58,69.77,83.85,82.63,69.48
13,Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46
14,Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72

In [ ]:
#Highest-Performing Schools (by % Overall Passing)

In [16]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools".

top_schools = per_school_summary.sort_values('overall_passing(%)',ascending=False).head()
top_schools

,school_name,school_type,total_students,total_student_budget,per_student_budget,average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%)
4,Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34
1,Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79
0,Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08
14,Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72
10,Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42

In [ ]:
#Lowest-Performing Schools (by % Overall Passing)

In [17]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

#Save the results in a DataFrame called "bottom_schools".
bottom_schools= per_school_summary.sort_values('overall_passing(%)',ascending=True).head()
bottom_schools

,school_name,school_type,total_students,total_student_budget,per_student_budget,average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%)
5,Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36
7,Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71
8,Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19
13,Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46
3,Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47

In [18]:
#Maths Scores by Year
#Perform the necessary calculations to create a DataFrame that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.
(
    school_data_complete
    .loc[:,['year','school_name','maths_score']]
    .groupby(['school_name','year']).mean()
    .reset_index()
    .assign(maths_score=lambda x:round(x.maths_score,2))
)

              school_name  year  maths_score
0      Bailey High School     9        72.49
1      Bailey High School    10        71.90
2      Bailey High School    11        72.37
3      Bailey High School    12        72.68
4     Cabrera High School     9        72.32
5     Cabrera High School    10        72.44
6     Cabrera High School    11        71.01
7     Cabrera High School    12        70.60
8    Figueroa High School     9        68.48
9    Figueroa High School    10        68.33
10   Figueroa High School    11        68.81
11   Figueroa High School    12        69.33
12       Ford High School     9        69.02
13       Ford High School    10        69.39
14       Ford High School    11        69.25
15       Ford High School    12        68.62
16    Griffin High School     9        72.79
17    Griffin High School    10        71.09
18    Griffin High School    11        71.69
19    Griffin High School    12        71.47
20  Hernandez High School     9        68.59
21  Hernandez High School    10        68.87
22  Hernandez High School    11        69.15
23  Hernandez High School    12        68.99
24     Holden High School     9        70.54
25     Holden High School    10        75.11
26     Holden High School    11        71.64
27     Holden High School    12        73.41
28      Huang High School     9        69.08
29      Huang High School    10        68.53
30      Huang High School    11        69.43
31      Huang High School    12        68.64
32    Johnson High School     9        69.47
33    Johnson High School    10        67.99
34    Johnson High School    11        68.64
35    Johnson High School    12        69.29
36       Pena High School     9        72.00
37       Pena High School    10        72.40
38       Pena High School    11        72.52
39       Pena High School    12        71.19
40  Rodriguez High School     9        71.94
41  Rodriguez High School    10        71.78
42  Rodriguez High School    11        72.36
43  Rodriguez High School    12        72.15
44    Shelton High School     9        72.93
45    Shelton High School    10        72.51
46    Shelton High School    11        70.10
47    Shelton High School    12        72.33
48     Thomas High School     9        69.23
49     Thomas High School    10        70.06
50     Thomas High School    11        69.66
51     Thomas High School    12        69.37
52     Wilson High School     9        69.21
53     Wilson High School    10        69.46
54     Wilson High School    11        68.38
55     Wilson High School    12        69.79
56     Wright High School     9        71.74
57     Wright High School    10        72.18
58     Wright High School    11        73.28
59     Wright High School    12        70.85

In [19]:
#Reading Scores by Year
#Create a DataFrame that lists the average reading score for students of each year level (9, 10, 11, 12) at each school.
(
    school_data_complete
    .loc[:,['year','school_name','reading_score']]
    .groupby(['school_name','year']).mean()
    .reset_index()
    .assign(maths_score=lambda x:round(x.reading_score,2))

)

              school_name  year  reading_score  maths_score
0      Bailey High School     9      70.901920        70.90
1      Bailey High School    10      70.848265        70.85
2      Bailey High School    11      70.317346        70.32
3      Bailey High School    12      72.195525        72.20
4     Cabrera High School     9      71.172348        71.17
5     Cabrera High School    10      71.328326        71.33
6     Cabrera High School    11      71.201245        71.20
7     Cabrera High School    12      71.856021        71.86
8    Figueroa High School     9      70.261682        70.26
9    Figueroa High School    10      67.677588        67.68
10   Figueroa High School    11      69.152327        69.15
11   Figueroa High School    12      69.082126        69.08
12       Ford High School     9      69.615846        69.62
13       Ford High School    10      68.988701        68.99
14       Ford High School    11      70.735964        70.74
15       Ford High School    12      68.849722        68.85
16    Griffin High School     9      72.026895        72.03
17    Griffin High School    10      70.746305        70.75
18    Griffin High School    11      72.385042        72.39
19    Griffin High School    12      69.434932        69.43
20  Hernandez High School     9      68.477569        68.48
21  Hernandez High School    10      70.621842        70.62
22  Hernandez High School    11      68.418199        68.42
23  Hernandez High School    12      69.244136        69.24
24     Holden High School     9      71.598425        71.60
25     Holden High School    10      71.096491        71.10
26     Holden High School    11      73.310680        73.31
27     Holden High School    12      70.481928        70.48
28      Huang High School     9      68.670616        68.67
29      Huang High School    10      69.516297        69.52
30      Huang High School    11      68.740638        68.74
31      Huang High School    12      68.671795        68.67
32    Johnson High School     9      68.719286        68.72
33    Johnson High School    10      69.295029        69.30
34    Johnson High School    11      69.969115        69.97
35    Johnson High School    12      67.992521        67.99
36       Pena High School     9      70.949091        70.95
37       Pena High School    10      72.324000        72.32
38       Pena High School    11      71.703125        71.70
39       Pena High School    12      71.513812        71.51
40  Rodriguez High School     9      70.902921        70.90
41  Rodriguez High School    10      70.137500        70.14
42  Rodriguez High School    11      71.424453        71.42
43  Rodriguez High School    12      71.414449        71.41
44    Shelton High School     9      70.715094        70.72
45    Shelton High School    10      69.879464        69.88
46    Shelton High School    11      71.150485        71.15
47    Shelton High School    12      69.070081        69.07
48     Thomas High School     9      69.672451        69.67
49     Thomas High School    10      69.741093        69.74
50     Thomas High School    11      70.749398        70.75
51     Thomas High School    12      68.730769        68.73
52     Wilson High School     9      68.683043        68.68
53     Wilson High School    10      68.412541        68.41
54     Wilson High School    11      68.796327        68.80
55     Wilson High School    12      69.888143        69.89
56     Wright High School     9      71.823529        71.82
57     Wright High School    10      71.386831        71.39
58     Wright High School    11      70.475862        70.48
59     Wright High School    12      69.821138        69.82

In [20]:
#Scores by School Spending
#Create a table that breaks down school performance based on average spending ranges (per student).
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary.per_student_budget, bins=spending_bins, labels=labels)

spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["average_maths_score"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["average_reading_score"].mean()
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])['passing_maths(%)'].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])['passing_reading(%)'].mean()
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])['overall_passing(%)'].mean()

spending_summary = pd.concat([spending_math_scores,spending_reading_scores,spending_passing_math,spending_passing_reading,overall_passing_spending],axis=1).reset_index()
spending_summary

,Spending Ranges (Per Student),average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%)
0,<$585,71.365000,70.717500,88.837500,86.3900,76.722500
1,$585-630,72.065000,71.032500,91.517500,87.2925,79.877500
2,$630-645,69.855000,69.840000,84.685000,83.7650,71.005000
3,$645-680,68.883333,69.046667,81.566667,81.7700,66.753333

In [21]:
#Scores by School Size
#Use the following code to bin the per_school_summary.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
per_school_summary['size_summary'] = pd.cut(per_school_summary.total_students, bins=size_bins, labels=labels)
size_summary = per_school_summary
size_summary

,school_name,school_type,total_students,total_student_budget,per_student_budget,average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%),Spending Ranges (Per Student),size_summary
0,Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08,$585-630,Large (2000-5000)
1,Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79,<$585,Medium (1000-2000)
2,Figueroa High School,Government,2949,1884411,639.0,68.70,69.08,81.65,82.81,67.65,$630-645,Large (2000-5000)
3,Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47,$630-645,Large (2000-5000)
4,Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34,$585-630,Medium (1000-2000)
5,Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36,$645-680,Large (2000-5000)
6,Holden High School,Independent,427,248087,581.0,72.58,71.66,89.93,88.52,78.92,<$585,Small (<1000)
7,Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71,$645-680,Large (2000-5000)
8,Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19,$645-680,Large (2000-5000)
9,Pena High School,Independent,962,585858,609.0,72.09,71.61,91.68,86.59,79.21,$585-630,Small (<1000)
10,Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42,$630-645,Large (2000-5000)
11,Shelton High School,Independent,1761,1056600,600.0,72.03,70.26,91.54,86.71,78.88,$585-630,Medium (1000-2000)
12,Thomas High School,Independent,1635,1043130,638.0,69.58,69.77,83.85,82.63,69.48,$630-645,Medium (1000-2000)
13,Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46,<$585,Large (2000-5000)
14,Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72,<$585,Medium (1000-2000)

In [22]:
#Scores by School Type
#Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
#This new DataFrame should show school performance based on the "School Type".
type_summary = (
    size_summary.loc[:,
    [
        "average_maths_score",
        "average_reading_score",
        "passing_maths(%)",
        "passing_reading(%)",
        "overall_passing(%)",
        "size_summary",
    ]]
).groupby('size_summary').mean().reset_index()
type_summary

,size_summary,average_maths_score,average_reading_score,passing_maths(%),passing_reading(%),overall_passing(%)
0,Small (<1000),72.33500,71.6350,90.8050,87.5550,79.0650
1,Medium (1000-2000),71.42200,70.7220,89.8460,86.7140,78.0420
2,Large (2000-5000),69.75125,69.5775,84.2525,83.3025,70.2925